/*Navbar*/
.navbar-brand {
  padding: 0px;
}

label{
    text-align: left;
}

.navbar-custom {
  background-color: #ff6e00;
  border: 0px;
  padding: 0px;
}

.topnav-right{
    float: right;
    right: 0%;
}

.tgbr{
    float: right!important;
}
/*DropDown*/

.dd{
    align-content: center;
}

.dropdown:hover{
    background-color:;
    color: white !important;
}

.dropdown-menu{
    border-radius: 7px !important;
    display: none;
    position: absolute;
    padding: 0px!important;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown-item:hover {border-radius: 3px;}

/* change the text color */
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.74)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(255,255,255,0.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.74);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link{
  color: white;
}
.navbar-custom .nav-item:hover .nav-link {
    color: white !important;
    background-color: #f78833;
}

.nav li a{
      font-size: 1.3em !important;
}

/*Breast & Cervical Cancer */

.brdr{
    border-bottom: 3px solid #828282; 
    color: #ef4410;
}

.btn_c{
    margin: 5px;
}

.pd{
   padding-right: 15px;
}

select {
    width: 100%;
    height: 65px;
    color: #ff0000;
    padding-left: 3rem;
}

.has-error input[type="number"], .has-error select {
    border: 1px solid #ff0000;
}

.help-block{
    padding-left: 7px;
    margin-bottom: 0px!important;
}

/*Breast Cancer Diagnosis*/
.ui{
    color: #ef4410;
    font-weight: 700;
    font-size: 1.2vw;
}

.ui1{
    border-radius: 2px solid #000000;
}

/*Symptoms*/

.brdr1{ 
    color: #ef4410;
}

.brdr2{
    border-right: 3px solid #828282;    
}

.td{
    font-weight: 600;
    font-size: 1.2vw;
    color: #ff8f0f;
}

/*Footer*/
.foot{
     background-color:  #DCDCDC;
}

.fa:hover {
    opacity: 0.7;
}


.sm{
    margin-left: 35%;
}
.foot h5{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: black !important;
    padding-bottom: 2px !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:35px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:800;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 800;
}

.email{
    color: white;
    font-size: 1.2vw;
}

.address{
    font-size: 1.1vw;
}

@media (max-width:767px){
    #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
