<!--Footer-->
<div class="foot">
  <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Team 24</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class=""></i><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9735378353503!2d77.56176501476997!3d12.909422290896702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae157cbb16997f%3A0x1e93cf868c40070!2sDayanand+Sagar+College+Rd%2C+Bengaluru%2C+Karnataka!5e0!3m2!1sen!2sin!4v1538997951160" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></a></li>

            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Contact Us</h5>
            <ul class="list-unstyled quick-links">
              <li><div class="email"><p><i class="far fa-envelope" data-fa-transform="up-2"></i> Email: info@team24.in</p></div></a></li>
              <li><div class="address text-white"><p class="mb-2"><i class="far fa-address-card" data-fa-transform="up-2"></i> Address: 6,XYZ,Bangalore</p></div></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Miscelleneous</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>CREDITS</a></li>

            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          </hr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p>&copy All right Reversed.<strong> TEAM 24</strong></p>
          </div>
          </hr>
        </div>
      </div>
    </section>
 </div>