<nav class="navbar navbar-expand-lg navbar-custom navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="images/logo.jpg" alt="LOGO" class="responsive"></a>
        </div>
        <div class="tgbr">
            <button class="navbar-toggler custom-toggler mr-2" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item mr-2 ml-2">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item ml-2 mr-2 dropdown dd">
                    <a class="nav-link dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Prognosis</a>
                    <span class="sr-only">current page</span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/breast_cancer_prognosis">Breast Cancer</a>
                        <a class="dropdown-item" href="/cervical_cancer">Cervical Cancer</a>
                    </div>
                </li>
                <li class="nav-item ml-2 mr-2 dropdown dd">
                    <a class="nav-link dropdown active" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Diagnosis</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/breast_cancer_diagnosis">Breast Cancer</a>
                        <a class="dropdown-item" href="/colorectal_cancer">Colorectal Cancer</a>
                        <a class="dropdown-item" href="/skin_cancer">Skin Cancer</a>
                    </div>
                </li>
                <li class="nav-item ml-2 mr-2 dropdown dd">
                    <a href="#" class="nav-link dropdown" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drug Discovery</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Protien Inhibitor Discovery</a>
                    </div>
                </li>
                <li class="nav-item ml-2">
                    <a href="symptoms.html" class="nav-link">Symptoms</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
