<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cancer Detection and Diagnosis</title>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/dynamic.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/breast-cancer-diagnosis.js')}}" type="text/javascript"></script>


    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file-input.css')}}">
</head>

<body>
    {% include "navbar.html" %}
    <div class='container mt-5 mb-6'>
        <div class="row">
            <div class="col-12">
                <p>
                    <h4>Breast cancer diagnosis through histopathology images.</h4>
                    The model used is a convolutional neural network, was trained on patches of
                    50x50 RGB images, obtained through random crops on the larger 1500x1500 images.
                    The model scans the input high resolution histopathology image and predicts whether the
                    patch contains a tumor.
                </p>
                <p>Patches predicted as tumors are marked in red. If the image is of a benign tissue small,
                    it should ideally have no predicted turmors.
                </p>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-12 col-md-6">
                <form class="form-group" id="select-image-form" enctype="multipart/form-data">
                    <label>Upload Your File</label>
                    <div class="files">
                        <input name="breast-cancer-diagnosis-image" id="breast-cancer-diagnosis-image"type="file" class="form-control" multiple=""
                            accept="image/">
                    </div>
                    <div>
                        <div class="progress" id="progress-bar">
                            <div class="progress-bar btn-primary" id="progress-bar-inner" role="progressbar"
                                style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-md mt-2" id="submit-button" type="submit">Submit</button>
                </form>

                <h6 class="text-center mt-3 mb-3">
                    --OR--
                </h6>
                <form class="form-group" id="random-form">
                    <label>Use a random image from a high resolution images
                        available in the dataset</label>
                    <button class="btn btn-primary btn-md" type="submit">Use available image</button>
                </form>

            </div>
            <div class="col-12 col-md-6 mt-5 mt-md-0 image-fluid">
                <center>
                    <img src="{{ url_for('static', filename='assets/file-upload.svg')}}" id="image-box" width="100%">
                </center>
            </div>
        </div>
    </div>
    {% include "footer.html" %}

</body>

</html>