<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cancer Detection and Diagnosis</title>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/form-validation.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/breast-cancer-prognosis.js')}}" type="text/javascript"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>
    {% include "navbar.html" %}
    <div class="container mb-6 mt-5">
        <h4 class="brdr">Breast Cancer</h4>
        <p>Predicts if a patient(currently having a benign tumor) will develop breast cancer based on features computed
            features computed using a digitised image of a Fine needle aspirate(FNA) of breast mass.
        </p><br>

        <form name="breast-cancer-prognosis-form" enctype="multipart/form-data" method="post" action="/prognosis/breast_cancer"
            role="form" data-toggle="validator" novalidate="true" class="needs-validation">
            <div class="row">
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta01">Clump Thickness</label>
                            <input type="number" name="clump_thickness" step="1" min="0" max="10"
                                class="form-control col-12 col-sm-6 bcpi" id="ta01" placeholder="0-10" value=""
                                required="required" data-error="Please anter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta02">Uniformity Cell Size</label>
                            <input type="number" name="uniformity_cell_size" step="1" min="0" max="10"
                                class="form-control col-12 col-sm-6 bcpi" placeholder="0-10" id="ta02" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta03">Uniformity Cell Shape</label>
                            <input type="number" step="1" min="0" max="10" name="uniformity_cell_shape"
                                class="form-control col-12 col-sm-6 bcpi" placeholder="0-10" id="ta03" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta04">Marginal Adhesion</label>
                            <input type="number" step="1" min="0" max="10" name="marginal_adhesion"
                                class="form-control col-12 col-sm-6 bcpi" placeholder="0-10" id="ta04" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta05">Epithelial Cell Size</label>
                            <input type="number" step="1" min="0" max="10" name="single_epithelial_cell_size"
                                class="form-control col-12 col-sm-6 bcpi" id="ta05" placeholder="0-10" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta06">Bare Nuclei</label>
                            <input type="number" step="1" min="0" max="10" name="bare_nuclei"
                                class="form-control col-12 col-sm-6 bcpi" id="ta06" placeholder="0-10" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-12 col-sm-6" for="ta07">Bland Chromatin</label>
                            <input type="number" step="1" min="0" max="10" name="bland_chromatin"
                                class="form-control col-12 col-sm-6 bcpi" id="ta07" placeholder="0-10" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="control-label col-12 col-sm-6" for="ta08">Normal Nucleoli</label>
                            <input type="number" step="1" min="0" max="10" name="normal_nuclei"
                                class="form-control col-12 col-sm-6 bcpi" id="ta08" placeholder="0-10" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline col-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="control-label col-12 col-sm-6" for="ta09">Mitosis</label>
                            <input type="number" step="1" min="0" max="10" name="mitosis"
                                class="form-control col-12 col-sm-6 bcpi" id="ta09" placeholder="0-10" required="required"
                                data-error="Please enter a valid number">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <center>
                        <button class="btn btn-primary" type="submit">Analyze</button>
                    </center>
                </div>
            </div>
        </form>
        <div class="row mt-4" id="result-heading">
            <h5 class="col-12">Result</h5>
        </div>
        <div class="row" id="result-row">
            <div class="text-success col-12" id="result"></div>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>