<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team VARV</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bc.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
    <!--Navbar-->
    {% include "navbar.html" %}
    <!--Cervical Cancer-->
    <div class="container mb-3">
        <h2 class="brdr">Cervical Cancer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
        <form name="contentForm" enctype="multipart/form-data" method="post"
              action="{{ url_for('get_cervical_cancer_prediction')}}" role="form" data-toggle="validator"
              novalidate="true">
            <div class="form-group form-inline">
                <label class="col-sm-3" for="ta01">Age</label>
                <input type="number" name="age" step="1" class="form-control" id="ta01" placeholder="21" value=""
                       required="required" data-error="Please anter a valid number">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-3" for="ta02">Number of Sexual Partners</label>
                <input type="number" name="no_of_partners" step="1" class="form-control col-sm-2" placeholder="2"
                       id="ta02"
                       required="required" data-error="Please enter a valid number">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-3" for="ta03">First Sexual Intercourse</label>
                <input type="number" name="first_sexual_intercourse" step="1" class="form-control form-inline col-sm-2"
                       placeholder="Your Age at that time" id="ta03" required="required"
                       data-error="Please enter a valid number">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-3" for="ta04">Number of Pregnancies</label>
                <input type="number" step="1" name="no_of_pregnancies" class="form-control col-sm-2" placeholder="0"
                       id="ta04" required="required" data-error="Please enter a valid number">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-3 text-center" for="ta05">Number of STD's Diagnosed</label>
                <input type="number" step="1" name="no_of_stds" class="form-control col-sm-2" id="ta05" placeholder="0"
                       required="required" data-error="Please enter a valid number">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-3" for="ta06">Diagnosed with CIN</label>
                <input type="text" class="form-control col-sm-2" name="diagnosed_with_cin" id="ta06"
                       placeholder="Yes/No"
                       required="required" data-error="Please enter a valid answer">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group form-inline">
                <label class="col-sm-3" for="ta07">Diagnosed with HPV</label>
                <input type="text" class="form-control col-sm-2" name="diagnosed_with_hpv" id="ta07"
                       placeholder="Yes/No"
                       required="required" data-error="Please enter a valid number">
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-5">
                <center>
                    <button class="btn btn-primary btn_c" type="submit">Analyze</button>
                </center>

        </form>
    </div>

</div>

<!-- Footer -->
</body>
{% include "footer.html" %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='cmn.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

</html>