<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Team VARV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<!--Navbar-->  
    {% include "navbar.html" %}


<!--Cards-->
<div class="main">
<div class="row">
	<div class="col-lg-3 col-sm-12">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="" alt="prognosis" class="card-img-top img-fluid">
      <div class="card-body">
      	<p class="card-text fs">PROGNOSIS</p>
      </div>
    </div>
    <div class="flip-card-back">
    	<div class="bc">
    		<a href="breast_cancer.html">
    		<img src="images/bc.png" alt="breast_cancer" class="card-img-top-1 img-fluid">
    		</a>
	<p class="bre">Breast Cancer</p>
</div>
<div class="cc">
	<a href="cervical_cancer.html">
    	<img src="images/CC.jpg" alt="cervical_cancer" class="card-img-top-1 img-fluid">
    </a>
	<p class="bre">Cervical Cancer</p>
</div>
    </div>
  </div>
</div>
</div>
	<div class="col-lg-3 col-sm-12">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="" alt="Drug discovery" class="card-img-top img-fluid">
      <div class="card-body">
      	<p class="card-text fs">DRUG DISCOVERY</p>
      </div>
    </div>
    <div class="flip-card-back">
    	<a href="phd.html">
    	<img src="" alt="cervical_cancer" class="card-img-top-1 img-fluid">
    </a>
	<p class="bre1">
		Protien Inhibiter Discovery
	</p>

    </div>
  </div>
</div>
</div>

<div class="col-lg-3 col-sm-12">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front mt-2 ">
      <img src="images/dia.png" alt="diagonosis" class="card-img-top img-fluid">
      <div class="card-body">
      	<p class="card-text fs">DIAGNOSIS</p>
      </div>
    </div>
    <div class="flip-card-back">
      	<div class="dia">
      	<div class="bc1">
      		<a href="breast_cancer_d.html">
      		<img src="images/bc.png" alt="breast_cancer" class="card-img-top-1 img-fluid">
    		</a>
	<p class="bre3">Breast Cancer</p>
      	</div>
      	 <div class="cc1">
      	    <a href="colorectal_cancer.html">
      		<img src="images/cc3.jfif"  alt="colorectal_cancer" class="card-img-top-2 img-fluid">
    		</a>
      	</div>
      	</div>
      	    <div class="dia1">
      		<div class="sk">
      		<a href="/skin_cancer">
      		<img src="images/sc.png" alt="skin_cancer" class="card-img-top-1 img-fluid">
    		</a>
	<p class="bre4">Skin Cancer</p>	
      		</div>
      </div>
    </div>
</div>
</div>
</div>	


<div class="col-lg-3 col-sm-12">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images/sym.png" alt="Symptoms" class="card-img-top img-fluid">
      <div class="card-body">
      	<p class="card-text fs">SYMPTOMS</p>
      </div>
    </div>
    <div class="flip-card-back">
    		<a href="symptoms.html">
    	<img src="images/symp.png" alt="Symptoms" class="card-img-top-1 img-fluid">
    		</a>
    		<p class="bre2">
    			Symptoms
    		</p>
    </div>
  </div>
</div>
</div>

</div>
</div>

<!--Cancer and what are we doing-->
<div class="container-fluid">
<h2 class="brdr">What is Cancer ?</h2>
<p class="td main">Cancer is actually a group of many related diseases that all have to do with cells. Cells are the very small units that make up all living things,<br> including the human body. There are billions of cells in each person's body.<br>

Cancer happens when cells that are not normal grow and spread very fast. Normal body cells grow and divide and know to stop growing.<br> Over time, they also die. Unlike these normal cells, cancer cells just continue to grow and divide out of control and don't die when they're supposed to.<br>

Cancer cells usually group or clump together to form tumors. A growing tumor becomes a lump of cancer cells that can destroy the normal cells around the<br> tumor and damage the body's healthy tissues. This can make someone very sick.<br>

Sometimes cancer cells break away from the original tumor and travel to other areas of the body, where they keep growing and can go on to form new tumors.<br> This is how cancer spreads. The spread of a tumor to a new place in the body is called metastasis</p>

<h2 class="brdr">What are we doing ?</h2>
<p class="td main">We have used emerging technologies like deep learning and artificial intelligence to automate the job of a pathologist.<br>
The most important thing about this implementation is that even a common man having their report with them can easily check the chances of them having cancer.<br>Using the latest technology like image processing and machine learning we are proving the risk assessment for the most plausible cancer like <br>Breast cancer , cervical cancer, skin cancer and colorectal cancer</p>
</div>

{% include "footer.html" %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>