<nav class="navbar navbar-custom navbar-dark navbar-expand-lg navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Cancer detection and diagnosis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-target="dropdown">
                        Prognosis
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Breast cancer</a>
                        <a class="dropdown-item" href="#">Cervical cancer</a>
                    </div>
                </li>
            

            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Diagnosis
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Breast cancer</a>
                        <a class="dropdown-item" href="#">Skin cancer</a>
                        <a class="dropdown-item" href="#">Colorectal cancer</a>
                    </div>
                </li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Drug discovery
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Protein Inhibitor discovery</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>