<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team 24</title>
    <link rel="stylesheet" href="css/bc.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/bootstrap-dropdownhover.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!--Navbar-->
{% include "navbar.html" %}
<!-- Symptoms -->
<div class="container mb-3">
    <h2 class="brdr">Symptoms</h2>
    <p> Symptoms for the various cancer is shown below.</p><br>
    <div class="mb-2">
        <div class="brdr1">
            <h3>Breast Cancer</h3>
        </div>
        <div class="col-sm-6 brdr2">
            <p class="text-center td">Symptoms for early detection</p>
            <ul>
                <li>A firm or hard lump in the breast</li>
                <li>A lumo in the armpit</li>
                <li>changes in the shape and size of breast</li>
                <li>changes to the nipple</li>
                <li>discharge/blood from nipple</li>
            </ul>
        </div>
        <div class="col-sm-6 mb-3">
            <p class="text-center td">Symptoms for late detection</p>
            <ul>
                <div class="col-sm-6">
                    <li>Double Vision</li>
                    <li>Muscle weakness</li>
                    <li>Headache</li>
                    <li>Nausea</li>
                    <li>Cough</li>
                </div>
                <div class="col-sm-6">
                    <li>Shortness of Breath</li>
                    <li>Jaundice</li>
                    <li>Loss of appetite</li>
                    <li>Back Pain</li>
                    <li>Weight Loss</li>
                </div>
            </ul>
        </div>
    </div>
    <div class="mb-3">
        <h3 class="brdr1">Cervical Cancer</h3>
        <p class="text-center td">Symptoms for early detection</p>
        <ul>
            <li>Unusual vaginal discharge</li>
            <li>Abnormal vaginal bleeding</li>
            <li>Heavier & longer menstrual cycle</li>
            <li>discomfort while urinating</li>
            <li>Leg pain</li>
        </ul>
    </div>

    <div class="mb-3">
        <h3 class="brdr1">Colorectal Cancer</h3>
        <p class="text-center td">Symptoms for early detection</p>
        <ul>
            <li>Blood in stool</li>
            <li>Change in shape of stool</li>
            <li>Abdominal cramping and discomfort</li>
            <li>Prolonged constipation or diarrhea</li>
            <li>Decrease in appetite</li>
            <li>Unintended Weight Loss</li>
        </ul>
    </div>

    <div class="mb-5">
        <h3 class="brdr1">Skin Cancer</h3>
        <p class="text-center td">Symptoms for early detection</p>
        <ul>
            <li>Asymmetry: If you draw a line through the middle of the mole or lesion on your skin, if the two halves
                are not symmetrical this is a sign that tumor may be malignant
            </li>
            <li>Border: Non-malignant tumors will typically have a smooth,regular border.Whereas,the border of an early
                melanoma will generally be jagged or uneven
            </li>
            <li>Color: A tumor of only one color is a good sign because melanomas are known for being a variety of
                colors, particularly shades of black,brown and tan.They may also be blue,red and other colors
            </li>
            <li>Diameter: As a rule of thumb, non-malignant skin cancers are smaller than 1/4 inch in diameter.Melanomas
                are usually large in diameter,So keep an eye on anything that is large.
            </li>
            <li>Evolvong: If the tumor changes in color,elevation size or shape and if any new symptoms
                arises(bleeding,crusting,itching,...etc) then it could be dangerous
            </li>
        </ul>
    </div>
</div>

<!-- Footer -->
{% include "footer.html" %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="cmn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</html>