.files input {
  outline: 2px dashed #ff5722;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0 120px 0;
  margin: 0;
  text-align: center !important;
  overflow: hidden;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #ff5722;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #ff5722;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #ff5722;
  color: #ff5722;
}
.files:before {
  position: absolute;
  bottom: 10%;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 10%;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #ff5722;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}


